@model IEnumerable<Proyecto_Pymes.Models.DB.BusinessManager>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: white;">Admin. Asociacion</h1>
<a asp-action="Create" class="btn" style="background-color: rgb(23, 114, 64); 
color:white; margin: 20px 20px 20px 0px; font-size: 20px "> Crear🔨</a>
<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                NOMBRE
            </th>
            <th>
                APELLIDO
            </th>
            <th>
                EMAIL
            </th>
            <th>
                TELEFONO
            </th>
            <th>
                CI
            </th>
            <th>
                EMPRESA
            </th>
            <th>
                ESTADO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Name)
                <td>
                        @Html.DisplayFor(modelItem => item.IdNavigation.LastName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.IdNavigation.Email)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.IdNavigation.PhoneNumber)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.IdNavigation.Ci)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.IdEnterpriseNavigation.GroupName)
                </td>
                <td>
                        @if (item.Status == 1)
                        {
                        <span>Habilitado</span>
                        }
                        else if (item.Status == 2)
                        {
                        <span>Deshabilitado</span>
                        }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn" style="background-color: #1c6eba; color: white; font-size: 17px">
                      ✏
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn" style="background-color:#ba1c1c; color:white; margin-left: 10px; font-size: 17px ">
                              🗑</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar el siguiente registro? <br />
                Nombre: @TempData["Name"] @TempData["lastName"] @TempData["SeconlastName"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a asp-action="ConfirmDelete" asp-route-id="@TempData["BsToDelete"]" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @if (TempData["ShowModalDelete"] as bool? == true)
    {
        <script>
            $(document).ready(function () {
                $('#exampleModal').modal('show');


                $('#exampleModal').on('hidden.bs.modal', function () {

                    $.ajax({
                        url: '/BusinessManagers/UpdateShowModalDelete',
                        method: 'POST',
                        data: { value: false }, // Enviar el valor false al servidor
                        success: function (data) {
                            // Opcional: Puedes realizar acciones adicionales después de cambiar el valor
                        }
                    });
                });
            });
        </script>
    }
}
