@model List<Proyecto_Pymes.Models.DB.Enterprise>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="color: rgb(255, 255, 255)" ;>
    Asociaciónes
</h1>
<a asp-action="Create" class="btn" style="background-color: rgb(23, 114, 64); 
color:white; margin: 20px 20px 20px 0px; font-size: 20px "> Crear 🔨</a>
<table class="table" style="color: rgb(255, 255, 255)">
    <thead>
        <tr>
            <th>
                NOMBRE DE ASOCIACION
            </th>
            <th>
                DIRECCION
            </th>
            <th>
                MUNICIPIO
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enterprise in Model)
        {
            <tr>
                <td>
                    @enterprise.GroupName
                </td>
                <td>
                    @enterprise.Address
                </td>
                <td>
                    @enterprise.IdTownShipNavigation.Name
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@enterprise.Id" class="btn" style="background-color: #1c6eba; color: white; font-size: 17px; border-radius: 4px ">
                     ✏
                    </a>

                    <a asp-action="Delete" asp-route-id="@enterprise.Id" class="btn" data-toggle="modal" data-target="@("#DeleteProduct-" + enterprise.Id)" style="background-color:#ba1c1c; color:white; margin-left: 10px; font-size: 17px; border-radius: 4px">
                              🗑</a>    
                                  @await Html.PartialAsync("DeleteViewPartial",enterprise)  
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar el siguiente registro? <br />
                Nombre: @TempData["Name"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a asp-action="ConfirmDelete" asp-route-id="@TempData["TownShipToDelete"]" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (TempData["ShowModalDelete"] as bool? == true)
    {
        <script>
            $(document).ready(function () {
                $('#exampleModal').modal('show');


                $('#exampleModal').on('hidden.bs.modal', function () {

                    $.ajax({
                        url: '/TownShips/UpdateShowModalDelete',
                        method: 'POST',
                        data: { value: false }, // Enviar el valor false al servidor
                        success: function (data) {
                            // Opcional: Puedes realizar acciones adicionales después de cambiar el valor
                        }
                    });
                });
            });
        </script>
    }
}

